<div class="panel header" ng-include="'/views/header.html'"></div>
<div ng-controller="createDeploymentController" class="panel panel-primary partialPage">
    <div class="panel-heading">
        <h1 class="panel-title">Create new deployment pipeline</h1>
    </div>
    <div class="panel-body">
        <form name="loginForm" novalidate>
            <div class="row">
                <div class="col-lg-6">
                    <label>Name</label>
                    <input name="user" type="text" class="form-control" ng-model="deployment.name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label>Versioning system: </label>
                    <select ng-model="deployment.versioning">
                        <option>SVN</option>
                        <option>Git</option>
                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Repository location: </label>
                    <input name="user" type="text" class="form-control" ng-model="deployment.repoLocation" required>
                </div>
            </div>
            
             <div class="row">
                <div class="col-lg-6">
                    <label>Server</label>
                    <select ng-model="deployment.serverType">
                        <option>Jboss</option>
                        <option>Tomcat</option>
                        <option>Jetty</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-centered">
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-ok"></span> Save
                    </button>
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>