<div class="panel header" ng-include="'/views/header.html'"></div>
<div ng-controller="createDeploymentController" class="panel panel-primary partialPage">
    <div class="panel-heading">
        <h1 class="panel-title">Create new deployment configuration</h1>
    </div>
    <div class="panel-body">
        <form name="createDeploymentForm" novalidate>
            <div ng-show="valid == 'fals'" class="row">
                <div class="col-lg-12 col">
                    <div class="alert alert-danger" role="alert">There is an existing deployment configuration with this name! Please choose an unique name!</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Name*</label>
                    <input name="name" type="text" class="form-control" ng-model="deployment.name" required>
                </div>
            </div> <br/>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Versioning system* </label>
                    <select ng-model="deployment.versioningSystem">
                        <option disabled>SVN</option>
                        <option>Git</option>
                    </select>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Repository location* </label>
                    <input name="repository" type="text" class="form-control" ng-model="deployment.repositoryLocation" required>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Local path*</label>
                    <input name="localPath" type="text" class="form-control" ng-model="deployment.localPath" required>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Server*</label>
                    <select ng-model="deployment.server">
                        <option disabled>Jboss</option>
                        <option disabled>Tomcat</option>
                        <option>Jetty</option>
                    </select>
                </div>
            </div><br/>
            
             <div class="row">
                <div class="col-lg-6">
                    <label>Packaging*</label>
                    <select ng-model="deployment.packaging">
                        <option>JAR</option>
                        <option disabled>WAR</option>
                    </select>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Email addresses (comma separated)*</label>
                    <input type="text" class="form-control" ng-model="deployment.emailAddresses" required>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Description</label>
                    <textarea type="text" class="form-control" rows="5" cols="40" ng-model="deployment.description" required/>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-3 col-centered">
                    <button type="button" class="btn btn-info" ng-click="save(deployment)" ng-disabled="!createDeploymentForm.$valid">
                        <span class="glyphicon glyphicon-ok"></span> Save
                    </button>
                    <button type="button" class="btn btn-info" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>