<div class="panel header" ng-include="'/views/header.html'"></div>
<div ng-controller="historyController" class="panel panel-primary partialPage historyPanel">
    <div class="panel-heading">
        <h1 class="panel-title">History</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Build date</th>
                            <th>Result</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="h in history">
                            <td><a style="font-size:18px;" ng-href="/#/viewHistory/{{$index}}">{{h.configurationName}}</a></td>
                            <td>{{h.buildDate}}</td>
                            <td>{{h.success}}</td>
                            <td>{{h.count}}</td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>
