<div class="panel header" ng-include="'/views/header.html'"></div>
<div ng-controller="viewHistoryController" class="panel panel-primary partialPage">
    <div class="panel-heading">
        <h1 class="panel-title">{{currentDeployment.name}}</h1>
    </div>
    <div class="panel-body">
        
            <div class="row">
                <div class="col-lg-3">
                    <label class="fieldLabel">Name:</label>
                </div>
                <div class="col-lg-3">
                    <label class="fieldLabel">Build date:</label>
                </div>
                <div class="col-lg-3">
                    <label class="fieldLabel">Result</label>
                </div>
                <div class="col-lg-3">
                    <label class="fieldLabel">Count</label>
                </div>
            </div> <br/>
        
            <div class="row">
                <div class="col-lg-3">
                    <label class="fieldLabel">{{currentHistory.configurationName}}</label>
                </div>
                <div class="col-lg-3">
                    <label class="fieldLabel">{{currentHistory.buildDate}}</label>
                </div>
                <div class="col-lg-3">
                    <label class="fieldLabel">{{currentHistory.success}}</label>
                </div>
                <div class="col-lg-3">
                    <label class="fieldLabel">{{currentHistory.count}}</label>
                </div>
            </div> <br/>
            <div class="row">
                <div class="col-lg-6">
                    <a href="http://localhost:9080/run/download/{{fileLocation}}"> Download here the archive resulted for this build</a>
                </div>
            </div>
            <div class="row" style="height: 500px; overflow: auto;">
                <pre style="background-color: black; color: white;">
                    {{currentHistory.log}}
                </pre>
            </div>
        
            <br/>
            <div class="row">
            <div class="col-lg-3">
                <button type="button" class="btn btn-info" ng-click="back()">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </div>
        </div>
    </div>
</div>