<div class="panel header" ng-include="'/views/header.html'"></div>
<div ng-controller="viewItemController" class="panel panel-primary partialPage">
    <div class="panel-heading">
        <h1 class="panel-title">{{currentDeployment.name}}</h1>
    </div>
    <div class="panel-body">
        
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel">Name:</label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.name}}</p>
                </div>
            </div> <br/>
        
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel">Last build:</label>
                </div>
                 <div class="col-lg-8">
                     <p class="field">{{currentDeployment.lastBuildDate}}</p>
                </div>
            </div> <br/>
        
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel"> Repository location: </label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.repositoryLocation}}</p>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel">Versioning system: </label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.versioningSystem}}</p>
                </div>
            </div><br/>
        
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel"> Local path: </label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.localPath}}</p>
                </div>
            </div><br/>
        
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel"> Server </label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.server}}</p>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel"> Packaging: </label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.packaging}}</p>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel"> Email addresses: </label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.emailAddresses}}</p>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="col-lg-2">
                    <label class="fieldLabel">Description: </label>
                </div>
                <div class="col-lg-8">
                    <p class="field">{{currentDeployment.description}}</p>
                </div>
            </div><br/>
        
            <br/>
            <div class="row">
            <div class="col-lg-3">
                <button type="button" class="btn btn-info" ng-click="back()">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </div>
               
            <div class="col-lg-3 col-centered">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-ok"></span> Build
                </button>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-play"></span> Deploy
                </button>
            </div>
        </div>
    </div>
</div>